@media (max-width:1214px)
{
    .online-content-text img {
        max-width: 264px;
        height: 212px;
    }
}
@media (max-width:998px)
{
    .navbar-collapse ul li {
        padding: 8px 0px;
    }
}
@media (max-width:994px)
{
    .banner-text h1 {
        font-size: 38px;
    }
    .defult-btn {
        padding: 11px 29px;
        font-size: 16px;
    }
    .online-content-text img {
        max-width: 189px;
        height: 136px;
    }
    h4.mt-3 {
        font-size: 18px;
    }
}
@media (max-width:770px)
{
    .online-content-text img {
        max-width: 275px;
        height: 195px;
    }
}
@media (max-width:764px)
{
    .banner-img {
        margin-top: 37px;
    }
    .student-content {
        margin-bottom: 20px;
    }
    .online-content-text {
        margin-bottom: 46px;
    }
    .footer-left-right {
        margin-top: 34px;
    }
}
@media (max-width:582px)
{
    .testimonial-content-img img {
        width: 96px;
        margin-top: 19px;
    }
}
@media (max-width:310px)
{
    .online-content-text img {
        max-width: 217px;
        height: 135px;
    }
}